.history .scroll-menu ul {
  display: flex;
  justify-content: center;
}
.history .scroll-menu ul li {
  flex-basis: 250px;
  height: 80px;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
.history .scroll-menu ul li.on {
  background-color: #0467b3;
  color: #fff;
}
.history .history-list ul {
  padding: 50px 0;
  margin: 50px 0;
  position: relative;
}
.history .history-list ul:before {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  background-color: #ccc;
  position: absolute;
  left: 50%;
}
.history .history-list ul li {
  display: flex;
  margin: 50px 0;
}
.history .history-list ul li:nth-child(odd) {
  justify-content: flex-end;
}
.history .history-list ul li:nth-child(odd) img {
  left: auto;
  right: 0;
}
.history .history-list ul li:nth-child(even) {
  text-align: right;
}
.history .history-list ul li:nth-child(even) .year-box .year:before {
  left: auto;
  right: -55px;
}
.history .history-list ul li .year-box {
  width: 50%;
  box-sizing: border-box;
  padding: 0 50px;
  color: #999;
}
.history .history-list ul li .year-box .year {
  display: block;
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #111;
  position: relative;
}
.history .history-list ul li .year-box .year:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 100px;
  border: 3px solid #0467b3;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  left: -55px;
  box-sizing: border-box;
  background-color: #fff;
}
.history .history-list ul li img {
  position: absolute;
  left: 0;
}
.history .chairman-list,
.history .chairman-list02 {
  min-height: 500px;
  padding-top: 100px;
  display: flex;
}
.history .chairman-list h4,
.history .chairman-list02 h4 {
  font-size: 36px;
  font-weight: 300;
  width: 180px;
  flex-shrink: 0;
}
.history .chairman-list h4 strong,
.history .chairman-list02 h4 strong {
  font-weight: 700;
  color: #0467b3;
}
.history .chairman-list .list,
.history .chairman-list02 .list {
  flex-grow: 1;
  margin-left: 100px;
}
.history .chairman-list .list ul {
  display: flex;
  flex-wrap: wrap;
}
.history .chairman-list .list ul li {
  box-sizing: border-box;
  width: calc(25% - 10px);
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
  padding: 30px 0;
}
.history .chairman-list .list ul li .name {
  color: #0467b3;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}
.history .chairman-list .list ul li .period:before {
  content: "";
  display: block;
  width: 30px;
  height: 1px;
  margin: 30px auto;
  background-color: #ccc;
}
.history .chairman-list02 .list {
  display: table;
  border-top: 2px solid #111;
}
.history .chairman-list02 .list ul {
  display: table-row-group;
}
.history .chairman-list02 .list ul li {
  display: table-row;
}
.history .chairman-list02 .list ul li span {
  display: table-cell;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  vertical-align: middle;
  padding: 0 20px;
  text-align: center;
}
.history .chairman-list02 .list ul li span.name {
  width: 200px;
}
.history .chairman-list02 .list ul li span.position {
  width: 400px;
}
.history .chairman-list02 .list ul li span.period {
  border-right: none;
}

.greeting .container {
  display: flex;
  justify-content: space-between;
}
.greeting .container .img-box {
  position: relative;
  border: 1px solid #ccc;
}
.greeting .container .img-box img {
  width: 450px;
}
.greeting .container .img-box:after {
  content: "";
  display: block;
  background: #022e4f url("../images/sub-contents/ysscience.png") left 20px bottom 0 no-repeat;
  position: absolute;
  z-index: -1;
  left: -50px;
  right: 50px;
  top: 200px;
  bottom: -50px;
}
.greeting .container .greeting-box {
  flex-grow: 1;
  margin-left: 120px;
}
.greeting .container .greeting-box h4 {
  font-size: 36px;
  font-weight: 300;
  padding-bottom: 30px;
  margin-bottom: 30px;
  position: relative;
}
.greeting .container .greeting-box h4:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  background: linear-gradient(90deg, #0467b3 0%, #0467b3 50px, rgb(204, 204, 204) 50px, rgb(204, 204, 204) 100%);
}
.greeting .container .greeting-box h4 strong {
  font-weight: 700;
  color: #0467b3;
}
.greeting .container .greeting-box .txt p {
  line-height: 1.5;
  margin-bottom: 30px;
  word-break: keep-all;
}
.greeting .container .greeting-box .sign {
  text-align: right;
  font-size: 24px;
  margin-top: 50px;
}
.greeting .container .greeting-box .sign strong {
  font-size: 16px;
  display: block;
  color: #0467b3;
  font-weight: 500;
  margin-bottom: 20px;
}

#sub-visual {
  height: 550px;
  background: url("../images/main/bg_main_visual.jpg") no-repeat;
  background-size: cover;
  padding-top: 120px;
  box-sizing: border-box;
  display: flex;
  overflow: hidden;
}
#sub-visual .container {
  display: flex;
  position: relative;
}
#sub-visual .sub-title {
  font-size: 48px;
  color: #fff;
  font-weight: 700;
  display: flex;
  align-items: center;
}
#sub-visual .sub-title span {
  display: block;
  padding-bottom: 20px;
  border-bottom: 3px solid #ffc240;
}
#sub-visual .bg {
  position: absolute;
  height: 430px;
  max-width: 1280px;
  width: calc(100vw - 400px);
  left: 400px;
  bottom: 0;
  border-radius: 100px 0 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.sub-visual01 {
  background-image: url("../images/sub-contents/about_visual.jpg");
}

.sub-visual05 {
  background-image: url("../images/sub-contents/community_visual.jpg");
}

#lnb {
  background-color: #0467b3;
  color: #fff;
}
#lnb .container {
  display: flex;
  height: 65px;
}
#lnb .container .home {
  width: 65px;
  background: url("../images/sub-contents/icon_home.png") no-repeat 50%;
  overflow: hidden;
  text-indent: -50px;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}
#lnb .container .lnb-box {
  width: 300px;
  font-size: 16px;
  font-weight: 500;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  position: relative;
}
#lnb .container .lnb-box:nth-last-child(1) {
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}
#lnb .container .lnb-box > a {
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  position: relative;
}
#lnb .container .lnb-box > a:after {
  content: "\f055";
  font-family: "FontAwesome";
  font-size: 24px;
}
#lnb .container .lnb-box > a:before {
  content: "\f056";
  font-family: "FontAwesome";
  font-size: 24px;
  position: absolute;
  right: 30px;
  display: none;
}
#lnb .container .lnb-box > a.on:after {
  display: none;
}
#lnb .container .lnb-box > a.on:before {
  display: block;
}
#lnb .container .lnb-box ul {
  position: absolute;
  background-color: #fff;
  width: 100%;
  display: none;
  box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.15);
}
#lnb .container .lnb-box ul a {
  height: 65px;
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: #111;
  border-top: 1px solid #fff;
  transition: all 0.25s ease;
}
#lnb .container .lnb-box ul a:hover {
  background-color: #0467b3;
  color: #fff;
}

#sub-contents {
  min-height: 600px;
  padding: 100px 0;
}

.contents-title {
  font-size: 36px;
  font-weight: 500;
  padding: 100px 0;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.contents-visual {
  display: flex;
  margin-top: 100px;
  margin-right: -20px;
}
.contents-visual > div {
  flex-basis: 50%;
  height: 400px;
  box-sizing: border-box;
}
.contents-visual .left-contents {
  position: relative;
}
.contents-visual .left-contents img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contents-visual .left-contents .txt {
  position: absolute;
  color: #fff;
  left: 50px;
  bottom: 50px;
  font-size: 36px;
  line-height: 1.5;
  font-weight: 300;
}
.contents-visual .left-contents .txt strong {
  font-weight: 700;
}
.contents-visual .right-contents {
  background: url("../images/sub-contents/history_ban_bg.png") no-repeat right -30px bottom -30px #023c68;
  color: #fff;
  padding: 50px;
  display: flex;
  align-items: center;
  margin-left: -20px;
  margin-top: 20px;
  position: relative;
}
.contents-visual .right-contents .txt-box .txt {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.5);
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.contents-visual .right-contents .txt-box .txt strong {
  font-size: 36px;
  font-weight: 700;
  display: block;
  margin-top: 30px;
  color: #fff;
}
.contents-visual .right-contents .txt-box .title {
  text-transform: uppercase;
  line-height: 1.5;
  font-size: 24px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.2);
}